.game {
    overflow: hidden;

    .team-info {
        .team-name {
            flex: auto;

            .team-location {
                font-size: x-small;
                margin-bottom: -8px;
            }
            .team-nickname {
                font-size: medium;
                font-weight: 600;
            }
        }
        .team-logo {
            min-width: 28px;
            width: 28px;
        }
        .score {
            font-size: large;
            font-weight: bold;
        }

        &:last-of-type {
            border-top: 0.5px solid lightgrey;
        }
    }

    .game-status {
        font-size: small;
    }
}

.standings-table {

    vertical-align: middle;

    .standings-headings {

        th {
            text-align: right;

            &:first-of-type {
                text-align: left;
            }
        }
    }

    .standings-entries {
        table-layout: fixed;

        .team-name {
            width: auto;

            .team-name-inside {
                width: 200px;
            }
        }

        td {
            min-width: 54px;
            text-align: right;
        }
    }
}