.bases {
    display: flex;
    flex-direction: row;
    width: 21px;
    justify-content: space-around;
    align-items: flex-end;
    height: 14px;
    margin: 0px 7px 0 0;
    position: relative;

    .base {
        width: 7px;
        height: 7px;
        background: lightgrey;
        border-radius: 0;
        box-shadow: none;
        transform: rotate(45deg);
        z-index: 1;

        &.second-base {
            align-self: flex-start;
        }

        &.onbase {
            background-color: #0d6efd;
        }
    }
}